<div class="container">
 <div class="left-section">
  <button (click)="orderDish()">Order Dish</button>
  <div class="error-message" *ngIf="this.order?.state === 'not-enough-ingredient'">
   Not enough ingredients to prepare the dish. lets try another one!</div>
 </div>

 <div class="right-section">
  <h2>Orders in Progress</h2>
  <div *ngFor="let order of this.ordersInProgress$ | async">
   <h3>{{ order.id }}</h3>
   <h2>{{this.order.dish.name}}</h2>
   <h2>{{ order.timeStamp | date: 'medium' : 'UTC' : 'Es' }}</h2>
   <h2>{{ order.state }}</h2>
   <ul></ul>
  </div>
  <h2>Order completed</h2>
 </div>

 <div class="bottom-section" *ngIf="this.order?.state === 'complete'">
  <h2>YOUR ORDER IS READY!</h2>
  <h2>{{ this.order?.dish?.name}}</h2>
  <h3>{{ this.order?.state}}</h3>
  <ul>
  </ul>
 </div>
</div>